[submodule "composite"]
	path = composite
	url = git@github.com:django-composite/django-composite.git
[submodule "admin"]
	path = admin
	url = git@github.com:django-composite/django-composite-admin.git
[submodule "example-app"]
	path = example-app
	url = git@github.com:django-composite/example-app.git
[submodule "tests-assistant"]
	path = tests-assistant
	url = git@github.com:django-composite/tests-assistant.git
